.kanban-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.kanban-column {
  flex: 1;
  margin: 0 10px;
  background-color: #f4f4f9;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.kanban-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-container {
  display: flex; /* Alinha os itens dentro do container horizontalmente */
  justify-content: flex-start; /* Mantém os itens alinhados à esquerda */
  align-items: center; /* Centraliza verticalmente os botões */
  gap: 8px; /* Adiciona espaçamento entre os botões */
  margin-top: 20px;
}


.update-button {
  background-color: #3c8ce2;
  color: white;
  padding: 10px; /* Reduz o tamanho dos botões */
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 70px; /* Largura mínima */
  max-width: 90px; /* Limita o comprimento máximo */
  align-items: center;
}

.delete-button {
  background-color: #d63f4e;
  color: white;
  padding: 10px; /* Reduz o tamanho dos botões */
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 70px; /* Largura mínima */
  max-width: 90px; /* Limita o comprimento máximo */
  align-items: center;
}

body{
  align-items: space-between;
  justify-content: space-between;
}